# List

* Python uses `Lists` and `Tuples` to store data
* `Lists` are more felxible, and can hold any type of data
* `Tuples` hold one type of data


1. Built-in Data structure ：List, Tuple, Dictionary, Sets
2.

## 1. 创建

1. `[ ]`
2. function: `list()`
3. list存放的数据结构可以不同

In [5]:
# list里可以放不同的 datatype

list1 = ["",2,True,"34","你好",None]
print(f"这个list有{len(list1)}个元素 \n")

for i in list1:
    print(f"{i}是{type(i)}数据类型")

这个list有6个元素

是<class 'str'>数据类型
2是<class 'int'>数据类型
True是<class 'bool'>数据类型
34是<class 'str'>数据类型
你好是<class 'str'>数据类型
None是<class 'NoneType'>数据类型

## 2. 索引index 和切片slicing

In [20]:
a = list(range(1,6))
a

[1, 2, 3, 4, 5]

### 2.1 索引

* a 每个元素的索引：0 1 2 3 4 
* 和string一样可逆

In [23]:
print(a[0],a[1],a[2],a[3],a[4])

1 2 3 4 5

In [24]:
print(a[-1],a[-2],a[-3],a[-4],a[-5])

5 4 3 2 1

### 2.2 切片slicing

* 光标索引分别为： 0 `1` 1 `2` 2 `3` 3 `4` 4 `5` 5 
* 光标索引分别为：0 1 2 3 4 5 （五个元素 六个索引）
* 可逆: -5 `1` -4 `2` -3 `3` -2 `4` -1 `5` 0

In [25]:
a[:]

[1, 2, 3, 4, 5]

In [30]:
a[2:-1]

[3, 4]

In [28]:
a[::2]

[1, 3, 5]

## 3. List 的更新

1. 直接更新
2. `method` 和 `function`, 最后两节

In [33]:
# 直接更新
a[0] = 5
a

[5, 2, 3, 4, 5]

### 嵌套列表

In [45]:
a = [1,2,3]
b = [4,5,6]
c = [a,b]

print(c)

print(c[0][0])

[[1, 2, 3], [4, 5, 6]]
1

## 4. List 操作符
* 列表对 + 和 * 的操作符与字符串相似。+ 号用于组合列表，* 号用于重复列表。

In [34]:
# 1. len([1, 2, 3]) 3	长度
len([1,2,3])

3

In [35]:
# 2. 
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [36]:
["Hi"]*4

['Hi', 'Hi', 'Hi', 'Hi']

In [37]:
3 in ["3",2,1]

False

In [40]:
for x in [1,2,3]:
    print(x, end = ',')

1,2,3,

## 5. list's built in function

* len()
* max()
* min()
* sum()
* list() # 将元组转换为列表
* any()
* all()
* enumerate()

In [46]:
a = [24,32,1,0,2]

In [47]:
min([True,0.3,"2",3])

TypeError: '<' not supported between instances of 'str' and 'float'

In [48]:
sum(a)

59

In [49]:
sorted(a) # 未保存结果

[0, 1, 2, 24, 32]

In [52]:
sorted(a, reverse = True)

[32, 24, 2, 1, 0]

In [53]:
list("吃饭了吗")

['吃', '饭', '了', '吗']

In [54]:
list((1,2,3))

[1, 2, 3]

In [55]:
list(range(3,19,3))

[3, 6, 9, 12, 15, 18]

In [57]:
a = a + [True]

In [58]:
any(a)

True

In [59]:
all(a)

False

In [64]:
names = ["stu",'Chen',"yifei"]
for i,n in enumerate(names):
    print(f"{n} is at {i+1} place")

stu is at 1 place
Chen is at 2 place
yifei is at 3 place

## 6. list's method

* 只能由list object 调用的function

In [80]:
f4 = ['道明寺']
f4.append('花泽类')
f4

['道明寺', '花泽类']

In [81]:
a = []
for i in range(10):
    a.append(i*2)
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [82]:
f4.insert(1,"西门总二郎")
f4

['道明寺', '西门总二郎', '花泽类']

In [83]:
f4.insert(0,"美作玲")
f4

['美作玲', '道明寺', '西门总二郎', '花泽类']

In [84]:
# 移除最后一位
f4.pop()

'花泽类'

In [85]:
f4

['美作玲', '道明寺', '西门总二郎']

In [86]:
# 移除指定位置
f4.pop(2)

'西门总二郎'

In [87]:
f4

['美作玲', '道明寺']

In [88]:
f4 = f4*2

In [89]:
f4.remove("道明寺")
f4

['美作玲', '美作玲', '道明寺']

In [91]:
# 类似于 +
trueF4 = ['唐僧','孙悟空','猪八戒','沙和尚']
f4.extend(trueF4)
f4

['美作玲', '美作玲', '道明寺', '唐僧', '孙悟空', '猪八戒', '沙和尚', '唐僧', '孙悟空', '猪八戒', '沙和尚']

In [92]:
# extend()可以+多种数据结构
# 1. 字符串：隐式转换 将str list() 后
f4.extend("白龙马")

In [93]:
f4

['美作玲',
 '美作玲',
 '道明寺',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '白',
 '龙',
 '马']

In [94]:
# 2. extend + set1
set1 = {'尔康','紫薇','永琪','小燕子'}
f4.extend(set1)

In [95]:
f4

['美作玲',
 '美作玲',
 '道明寺',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '白',
 '龙',
 '马',
 '永琪',
 '尔康',
 '小燕子',
 '紫薇']

### 1. `copy( )` 和 list 的比较

In [124]:
# 比较
import operator
a = [1,2]
b = [2,3]
c = [2,3]

# 不同 object
print(id(b))
print(id(c))

140556196502080
140556196726976

In [125]:
operator.eq(a,b)

False

In [126]:
operator.eq(c,b)

True

* list 的function和method 容易出错，有时改变自身有时不改变
* = VS list.copy()
* list.sort() VS sorted()
* list.reverse() VS reversed()

In [112]:
newf4 = f4
# 两个variable是同一个object的标签

In [113]:
id(newf4)

140556195722624

In [114]:
id(f4)

140556195722624

In [115]:
newf4.clear()
newf4

[]

In [116]:
f4

[]

* 所以我们用copy()

In [96]:
newf4 = f4.copy()
newf4

['美作玲',
 '美作玲',
 '道明寺',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '唐僧',
 '孙悟空',
 '猪八戒',
 '沙和尚',
 '白',
 '龙',
 '马',
 '永琪',
 '尔康',
 '小燕子',
 '紫薇']

In [98]:
newf4.clear()

In [100]:
newf4 # 空list

[]

### 2. 搜索 统计 排序

* list.index()
* list.count()
* list.reverse()
* list.sort()

In [101]:
# 返回第一个所查找的元素索引
f4.index("白")

11

In [102]:
# 如果搜索不到，会抛出一个ValueError，可以try&except使用
f4.index("Stu")

ValueError: 'Stu' is not in list

In [105]:
# 如果搜索不到，会抛出一个ValueError，可以try&except使用
try:
    f4.index("Stu")
except:
    print("很抱歉他不够帅")

很抱歉他不够帅

In [107]:
# 会改变a本身的顺序
a.sort(reverse = True)

In [108]:
a

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [109]:
a.sort()
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [110]:
# 可以自己设定排序规则，用一个函数定义
# eg. 使用绝对值
a.sort(key = abs)
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 补充 comprehension
* 数学：推到式

In [117]:
cheng = []
for i in range(10):
    cheng.append(i*2)
print(cheng)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [118]:
cheng1 = [i*2 for i in range(10)]
print(cheng)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [119]:
# 每个str元素加个一
word = ['往无前','无所有']
word =  ["一"+ i for i in word]

In [120]:
word

['一往无前', '一无所有']

In [123]:
# 可以加个if判断
number = [1,2,3,4,5,6,7,8,9]
# 无法被2整除的数字乘加到number2 list 中
number2 = [i*2 for i in number if i%2 != 0]

In [122]:
number2

[2, 6, 10, 14, 18]