# Tuple

## 1. 创建Tuple

### Tuple vs List
* 潜规则： tuple来装不同的数据类型， list装相同的数据类型
* 遍历tuple比便利list快很多
* 如果

1. Python 的元组与列表类似，不同之处在于元组的元素不能修改。
    * 可包含不同数据结构，可以nested 
2. 元组使用小括号 ( )，列表使用方括号 [ ]。
3. 元组创建很简单，只需要在括号中添加元素，并使用逗号隔开即可。
    * python 真正识别的是逗号不是括号

In [1]:
tuple1 = "google","Runoob",1993,2023

### 元组中只包含一个元素时，需要添加逗号，不然会被当作运算符

In [2]:
tuple2 = (50)
type(tuple2)

int

In [51]:
tuple3 = 50,
type(tuple3)

tuple

### 删除tuple

In [53]:
del tuple3 # 从内存上删掉
print(tuple3)

NameError: name 'tuple3' is not defined

## 2. Tuple VS List

* List变换经常造成事故，所以tuple尤为重要
    * tuple是不可变对象（object）
    * 给一个变量赋值！=可变对象
* 能修改tuple里的list，不能修改list里的tuple

In [5]:
# 1. tuple不可变
tuple1[0] = 1
# TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [7]:
# tuple 里的 list 可改
trueF4 = ['唐僧','孙悟空','猪八戒','沙和尚']
team = ('白龙马',trueF4)
team

('白龙马', ['唐僧', '孙悟空', '猪八戒', '沙和尚'])

In [11]:
id(team) # team的内存地址

140405168404608

In [19]:
#eg
list1 = [0,1]
print(id(list1))

list1.append(2)
print(id(list1))

list1[0] = 1
print(id(list1))

140405168548416
140405168548416
140405168548416

In [17]:
id(team[1]) # list内存地址

140404638074944

In [18]:
id(team[0]) # 白龙马内存地址

140405168618640

In [20]:
team[1][3] = "沙悟净" #可以

### 关于元组是不可变的
所谓元组的不可变指的是元组所指向的内存中的内容不可变。

In [63]:
tup = ('r', 'u', 'n', 'o', 'o', 'b')
tup[0] = 'g'     # 不支持修改元素
#Traceback (most recent call last):
#  File "<stdin>", line 1, in <module>
#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [65]:
print(id(tup))
# 查看内存地址
tup = (1,2,3)
print(id(tup))
#4441088800    # 内存地址不一样了

140404637587840
140405169330688

## 3. tuple的 packing and unpacking 打包和拆包
    * string也有该类似功能

In [22]:
a = 1,2,3
a,b,c = a
print(a,b,c)
print(a)

1 2 3

In [27]:
a = 1,2,3
a,*b = a
print(a)
print(b)

1
[2, 3]

In [28]:
a = a,b
print(a)

(1, [2, 3])

(1, [2, 3])

## 4. Tuple运算符
* 和string list 一样`+` `+=` `*`

In [29]:
len((1,2))

2

In [30]:
a = (1,2,3)
b = "a","b","c"

c = a + b
c

(1, 2, 3, 'a', 'b', 'c')

In [33]:
a = (1,2,3)
b = "a","b","c"

a += b

a

(1, 2, 3, 'a', 'b', 'c')

In [36]:
tuple3 = ("a",)*4
tuple3

('a', 'a', 'a', 'a')

In [39]:
for i in (1,2,3):
    print(i,end = " ")

1 2 3

## 5. 索引index 和切片slicing

In [41]:
a = tuple(range(1,6))
a

(1, 2, 3, 4, 5)

### 5.1 index

* a 每个元素的索引：0 1 2 3 4 
    * 逆：-1 -2 -3 -4 -5
* 和 string list 一样可逆

In [43]:
print(a[0],a[1],a[2],a[3],a[4])
print(a[-1],a[-2],a[-3],a[-4],a[-5])

1 2 3 4 5
5 4 3 2 1

### 5.2 切片slicing - 按光标位置截取

* 光标索引分别为： 0 `1` 1 `2` 2 `3` 3 `4` 4 `5` 5 
* 光标索引分别为：0 1 2 3 4 5 （五个元素 六个索引）
* 可逆: -5 `1` -4 `2` -3 `3` -2 `4` -1 `5` 0

In [47]:
a[::2]

(1, 3, 5)

In [48]:
a[:2:-1]

(5, 4)

## 6. tuple 相关的函数

* `tuple( )` 某些其他数据转为tuple，example: list

    * 将可迭代系列转换为元组：An iterable is any Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop.
    * Note:“Under the hood”, an iterable is any Python object with an `__iter__()` method or with a `__getitem__()` method that implements `Sequence` semantics. These details will become salient if you read through the Object Oriented Programming module.

* `zip( )` 比较特殊 
* 等等

In [54]:
a = tuple("abc")
a

('a', 'b', 'c')

In [56]:
b = tuple()
b

()

In [59]:
c = tuple([1,2,3])
c

(1, 2, 3)

In [61]:
d = tuple(range(3,19,3))
d

(3, 6, 9, 12, 15, 18)

## 7. tuple 的method

* `tuple.index()` 某些其他数据转为tuple，example: list
* `tuple.count()` 比较特殊 
* 等等