# 淘米洗菜 - 数据预处理
[TOC]

# 1. 缺失值
* 如果新数据想要覆盖原数据，而不是return新数据
* parameter : `inplace = True`

### 1.1 缺失值查看

In [ ]:
import pandas as pd
df
df.info()

* Excel:筛选 NA or NULL

### 1.2 删除值查看

In [ ]:
# 删除含有缺失值的行
df_dropna.dropna()
df_dropna.info()

In [ ]:
# 删除全为缺失值的行
df_drop_all_na.df.drop(how = "all")
df_drop_all_na.info()

### 1.3 填充值查看

* excel：替换

In [ ]:
df_fillna = df.fillna(0)
# NALL全部填充为0

* 只填充某列
* 以字典形式填充

In [ ]:
df_revenue = df.fillna({"月收入": 0,"家庭成员":1})
df_revenue.head(6)

# 2. 重复值
* Excel：数据 -> 删除重复值 —> 筛选框

In [ ]:
df.dropduplicates(subset = None, keep = "first",inplace = False)
# sebset: 按照那几列进行去重
# keep = “first”：保留重复列行的第一行
# keep = “last”：保留重复列行的最后一行
# inplace = True：覆盖原数据 ruturn Nonetype

In [ ]:
# 按两列去重
df.dropduplicates(subset = ['好坏客户'，"家属成员"])

# 3. 异常值

1. 根据业务经验划定不同指标的正常值
2. 箱形图的outliers
3. Following the normal distribution,use 3 times sigma principle 


Excel：筛选 + 替换

### 3.1 异常值处理
* 筛选出选择类型

# 4. data type 处理

## 4.1 查看数据类型

In [ ]:
df.info()

In [ ]:
df["user_number"].dtype

## 4.2 数据类型转换

In [ ]:
df["user_number"].astype(np.object) 
# int-> as type -> object类型

# 5. 索引设置

## 5.1 无索引表 设置索引

In [3]:
import pandas as pd
data = [["Excel","week1"],
       ["Python","week2"],
       ["Sql","week3"],
       ["PPT","week4"]]
df = pd.DataFrame(data)
df

        0      1
0   Excel  week1
1  Python  week2
2     Sql  week3
3     PPT  week4

In [4]:
df.columns = ["skill","week"]
df.index = ["first","second","third","forth"]
df

         skill   week
first    Excel  week1
second  Python  week2
third      Sql  week3
forth      PPT  week4

## 5.2 重新设置索引
* 层次索引

In [5]:
# 把某列设为索引
df.set_index("用户编号").head()
df

KeyError: "None of ['用户编号'] are in the columns"

In [ ]:
df.set_index(["用户编号"，"好坏用户"])
df

## 5.3 重命名

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, first to forth
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   skill   4 non-null      object
 1   week    4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes

In [8]:
df.head()

         skill   week
first    Excel  week1
second  Python  week2
third      Sql  week3
forth      PPT  week4

In [9]:
columns = {"skill":"skills", "week":"weeks"}
index = {"first":"1st"}
df.rename(columns = columns, index = index).head()

        skills  weeks
1st      Excel  week1
second  Python  week2
third      Sql  week3
forth      PPT  week4

In [10]:
df

         skill   week
first    Excel  week1
second  Python  week2
third      Sql  week3
forth      PPT  week4

## 5.4 层次化索引拆分

`reset_index( )`
1. level：将层次化索引第几级转化成为columns，第一级：0， 第二级：1。
    * 默认全部索引
2. drop：是否将原来的索引删掉，即 不作为一个新的column被保存
    * 默认是false - 不删除
3. inplace：是否用来制定修改原数据表

In [ ]:
df.reset_index()