# 1. 算术运算 -加减乘除

In [3]:
import pandas as pd
data = {"c1":[1,4],"c2":[2,5],"c3":[3,6]}
df = pd.DataFrame(data)
df.index = ["I1","I2"]
df

    c1  c2  c3
I1   1   2   3
I2   4   5   6

## 1.1 列+列

In [4]:
df["c1"]+df["c2"]

I1    3
I2    9
dtype: int64

In [5]:
df["c1"]*df["c2"]

I1     2
I2    20
dtype: int64

In [6]:
df["c1"]/df["c2"]

I1    0.5
I2    0.8
dtype: float64

# 2. 比较运算

In [8]:
df["c1"]>=df["c2"]

I1    False
I2    False
dtype: bool

In [9]:
df["c1"] <= df["c2"]

I1    True
I2    True
dtype: bool

In [10]:
df["c1"] == df["c2"]

I1    False
I2    False
dtype: bool

In [11]:
df["c1"] != df["c2"]

I1    True
I2    True
dtype: bool

# 3. 汇总运算 - 对一整列进行运算

* `count( )`
* `max( )`
* `min( )`
* `mean( )`
* `median( )`
* `mode( )`
* `var( )`方差
* `std( )`标准差
* `quantile( )`分位数
* `corr`相关系数

In [22]:
df["c1"].count()

2

In [39]:
df.loc[["I1"]].count()

c1    1
c2    1
c3    1
dtype: int64

## 3.1 按列非空个数

In [16]:
df.count()# 非空计算

c1    2
c2    2
c3    2
dtype: int64

In [19]:
import pandas as pd
import numpy as np
df_csv = pd.read_csv("/Users/stu/Desktop/Python Exercise/data/property-data.csv")
df_csv.count(axis = 0) # 非空计算


# 默认按列计算

PID             8
ST_NUM          7
ST_NAME         9
OWN_OCCUPIED    8
NUM_BEDROOMS    7
NUM_BATH        8
SQ_FT           8
dtype: int64

In [20]:
import pandas as pd
import numpy as np
df_csv = pd.read_csv("/Users/stu/Desktop/Python Exercise/data/property-data.csv")
df_csv.count(axis = 1) # 非空计算
# 默认按行计算

0    7
1    7
2    5
3    6
4    6
5    6
6    5
7    6
8    7
dtype: int64

## 3.2 分位数
* 中位数就是 0.5 分位数
* 从小到大排列

In [46]:
import pandas as pd
data = {"c1":[1,-1],"c2":[2,7],"c3":[3,4]}
df = pd.DataFrame(data)
df.index = ["I1","I2"]
df

    c1  c2  c3
I1   1   2   3
I2  -1   7   4

In [47]:
df.quantile(0.5) # 按列

c1    0.0
c2    4.5
c3    3.5
Name: 0.5, dtype: float64

In [48]:
df.corr() # 按列

     c1   c2   c3
c1  1.0 -1.0 -1.0
c2 -1.0  1.0  1.0
c3 -1.0  1.0  1.0