# Excel

`pd.to_excel()`

In [1]:
# 一对一
import pandas as pd
t1 = pd.DataFrame({"name":["小陈","小房","小飞","小灿"],
                  "名次":[1,2,3,4],
                  "id":[101,102,103,104],
                  "期末grade":[400,345,987,234],
                  })
t2 = pd.DataFrame({"id":[101,102,103,104],
                  "Class":["Class 1","Class 2","Class 3","Class 4"]
                  })
table = pd.merge(t1,t2) # 通过完全相同的列，来join

In [2]:
table

  name  名次   id  期末grade    Class
0   小陈   1  101      400  Class 1
1   小房   2  102      345  Class 2
2   小飞   3  103      987  Class 3
3   小灿   4  104      234  Class 4

In [ ]:
table.to_excel(excel_writer = r"路径\test.xlsx"
              ,sheet_name = "information" # sheet的名字
              ,columns = ["id"，"Class"] # 选择你要导出的列
              ,na_rep = 0 # 缺失值填充
              ,inf_rep =  # inf无穷值填充
              ,encoding = "utf-8"# 
              ,index = False # 是否导出默认索引
              )

# CSV

In [ ]:
table.to_csv(r"路径\test.xlsx"
            ,encoding = "gbk" # 默认utf-8 包含中文会乱
            ,index = False
            ,columns = ["id","Class"]
            ,sep = "," # 设置分隔符
            )

# 到出到多sheet文件

In [ ]:
excelpath = r"路径\test.xlsx"
writer = pd.ExcelWriter(excelpath, # 路径
                        engine = "xlsxwriter"# 解析器
                       )
table1 = table.reset_index()
table2 = table.reset_index()
table3 = table.reset_index()

table1.to_excel(writer.sheet_name = "table1")
table2.to_excel(writer.sheet_name = "table2")
table3.to_excel(writer.sheet_name = "table3")

w